:root {
  --bg-buton: #f0f0f0;
  --border-buton: solid 1px #888;

}

.button {
  font-size: 1.4em;
  background-color: var(--bg-buton);
  border: none;
  border-right: var(--border-buton);
  border-bottom: var(--border-buton);
  outline: none;
  font-weight: bold;
}

.button:active {
  background-color: #ccc;
}

.button.col2 {
  grid-column: span 2;
}

.button.col3 {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
}

.button.operation:active {
  background-color: #fa8231;
  color: #fff;
}